body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header {
  background: url("2.jpg");
  color: white;
  text-align: center;
  background-size: 100vw 55vw;
  height: 35vw;
}

#bold {
  font-size: 12.5vw;
  margin-top: 2.5vw;
  margin-bottom: 0;
}

#normal {
  width: 50vw;
  margin: auto;
  font-size: 4vw;
}

#our_help {
  font-size: 3vw;
  width: 30vw;
  margin: auto;
  margin-top: 2vw;
  padding: 5px 0;
  background-color: deepskyblue;
  border-radius: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
}

.nav div {
  padding: 20px 0;
}

.transform {
  display: inline;
  float: left;
}

.transform p {
  display: inline;
  color: white;
}

.list {
  list-style: none;
  display: inline;
}

.list li {
  display: inline;
  margin: 1vw;
}

.list li a {
  color: white;
  font-style: none;
  text-decoration: none;
}

@media (max-width: 500px) {
  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav div {
    padding: 10px 0;
  }

  .transform {
    display: block;
    width: 25vw;
    margin: auto;
    margin-bottom: 0;
  }

  .list {
    display: block;
    width: 100%;
    margin: auto;
    padding-left: 0;
  }

  #list-parent {
    width: 98vw;
    margin: auto;
    margin-top: 0;
    height: 4vw
  }

  .list li {
    width: 100%;
    margin: 2vw;
    padding-top: 0;
  }
}